
<!DOCTYPE html>
<html>
<head>
  <title>Change Password Password</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/otp.css">
</head>
<body>
  <div class="otp-container">
    <h1>Enter The New Password</h1>
    
    <form id="otp-form" method="post">
      <input
      required
      class="form-control"
      id="form-holder"
      placeholder="Enter New Password"
      name="newPassword"
      type="password"/>
      <input type="submit" class="btn btn-dark w-100" value="Change Password" />

    </form>
   
    <div id="message">
        <span class="text-center pb-3" style="font-size: 0.8rem; text-transform: none;">
            <p class="text-danger mt-0 pt-4 fw-bold text-uppercase"><%= locals.errorMessage %></p>
        </span>
    </div>
  </div>
</body>
</html>


 