


<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/otp.css">
</head>
<body>
  <div class="otp-container">
    <h1> Reset Password</h1>
    <p>Please enter  your email:</p>
    <form id="otp-form" method="post">
      <input pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$" type="email" name="email" id="email-input" placeholder="Enter your email" required>
      <button type="submit">Send OTP</button>
    </form>
   
    <div id="message">
        <span class="text-center pb-3" style="font-size: 0.8rem; text-transform: none;">
            <p class="text-danger mt-0 pt-4 fw-bold text-uppercase"><%= locals.errorMessage %></p>
        </span>
    </div>
  </div>
</body>
</html>
